<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Foods</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1> This is Pantry <%= pantry.name %></h1>

  <a href="/users/<%= user._id %>/foods/<%= foods._id %>/edit">
    Edit this Food
  </a>

  <form action="/users/<%=user._id%>/foods/<%=foods._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete this Food</button>
  </form>
  
</body>
</html>