<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %> Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to <%= user.username %> Pantry</h1>

    <% if (user.pantry && user.pantry.length > 0) { %>
    <ul>
      <% user.pantry.forEach(item => { %>
      <li>
        <%= item.name %>
      </li>
      
      <% }); %>
    </ul>
    <% } else { %>
    <p>There are no items in <%= user.username %> pantry.</p>
    <% } %>
</body>
</html>